h1 {
    color: #A9CCE3;
}
h2 {
    color: #D1F2EB
}
p {
    color: #FADBD8;
}
ul {
    color:#F1948A;
}
il {
    color:#F1948A;
}
body {
    background-image: url("https://cdn.dribbble.com/users/597165/screenshots/2477536/diamond.gif");
}

